{{define "content"}}
<div class="container home-container">
    <div class="hero-section">
        <h1 class="main-title">Bienvenue sur Groupie Tracker</h1>
        <p class="subtitle">Découvrez et explorez les artistes et leurs concerts à travers le monde.</p>
        
        <div class="home-actions">
            <a href="/artists" class="btn-details btn-large">Voir les Artistes</a>
            <a href="/map" class="btn-filter btn-large">Carte Interactive</a>
        </div>
    </div>
</div>
{{end}}